@import url("/api/random?format=css");

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
