/* hide file name text in file picker */
input[type='file'] {
    color: transparent;
}

.main-form {
    position: relative;
    box-sizing: content-box;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.output-img {
    margin-top: 15px;
    max-height: 80%;
    max-width: 33%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    width: 1em;
    margin-right: 0.3em;
}

.browse-button-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.browse-button-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

@media (max-width: 800px) {
    .output-img {
        max-width: 90%;
    }

    .main-form {
        display: grid;
        grid-template-columns: repeat(4, 145px);
        grid-template-rows: repeat(2, 55px);
        grid-template-areas:
            ". a b ."
            ". c c .";
    }

    .browse-button-wrapper {
        grid-area: a;
    }

    .upload-button {
        grid-area: b;

    }

    .sign-in-button {
        grid-area: c;
        align-self: center;
        justify-self: center;
    }
}
