.main-form {
    box-sizing: content-box;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.output-img {
    max-height: 50%;
    max-width: 50%;
}
